5luento/schemas/books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Library">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Books">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Book" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Title" type="xs:string"/>
                                        <xs:element name="Author" type="xs:string"/>
                                        <xs:element name="Genre" type="xs:string"/>
                                        <xs:element name="PublishedYear" type="xs:short"/>
                                        <xs:element name="ISBN" type="xs:string"/>
                                        <xs:element name="Summary" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>